@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

body{
    overflow-x: hidden;
}
/* header css */
.header-section {
    background-image: url('../imges/mainbg.png');
    background-position-x: 11%;
    background-position-y: 80%;
    background-repeat: no-repeat;
    position: relative;
}
header{
    width: 100% ;
    z-index: 10;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
}
nav.navbar{
    z-index: 11;
}
.header-section .navbar-nav{
    margin: 20px 0;
}
.bg-black-shadow:before{
    content: "";
    background-color: rgba(7,21,37,0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.bg-pink-shadow::before{
    content: "";
    background-color: rgba(189, 45, 93, 0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.black-shadow-content {
      position: relative;
      z-index: 2;
}
header{
    background-color: rgba(0,0,0,0.6);
    box-shadow: 0 0 52px 0 #000;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    color: #fff;
    font-family: "Hind";
    font-weight: 600;
    margin: 8px;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #be2d5d;
    border: 1px solid #be2d5d;
    padding: 4px;
}
.navbar-light .navbar-nav>li>a:hover{
    border: 1px solid #be2d5d;
    color: #fff!important;
    padding: 4px;
}
.navbar-light .navbar-nav>li>a:focus{
    color: #ffffff!important;
}

/* SEARCH BOX CSS */
.searchlink.open > .searchform {
    display: block;
}

.searchform {
    display: none;
    position: absolute;
    width: 200px;
    height: 70px;
    line-height: 40px;
    top: 70px;
    right: 0;
    padding: 0 15px;
    cursor: default;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    box-shadow: 0 3px 13px 0 rgba(0, 0, 0, 0.2);
    margin-left: -120px;
    z-index: 9999999;
    background-color: #fff;
    border-top:4px solid #D80B15;
}
.searchlink.open .searchform {
    display: block;
    background-color: #000;
    border: none;
}

#search {
    display: block;
    position: relative;
}

#s {
    width: 135px;
    background: #141414;
    padding: 0 11px;
    border: 1px solid #e1e1e1;
    border: none;
    color: #fff;
    margin: 14px 0;
}
.sbtn {
    display: block;
    position: absolute;
    background: none;
    border: 1px solid #be2d5d;
    color: #fff;
    cursor: pointer;
    right: 0px;
    top: 13px;
    width: 35px;
    background-color: #be2d5d;
    height: 43px;
}

/* banner section css */
.banner-heading{
    font-size: 42px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 600;
    text-align: center;
    margin-top: 130px;
}
.banner-text{
    font-size: 18px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 400;
    text-align: center;
    margin-top: -15px;
}
.rectangle{
    box-shadow: 0 0 26px 0 #000000;
    background-color: #000000;
    margin: 0 50px 60px 50px;
}
.dark-input{
    background-color: #141414;
    border: none;
    width: 93%;
    color: #fff;
}
 ::placeholder{
    color: #fff!important;
    font-size: 16px;
    line-height: 63px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 500;
    padding: 15px;
}
.form-control{
    padding: 13px;
}
.input-group-text{
    padding: 18px;
}
.search-button{
    background-color: #be2d5d;
    border: none;
    color: #fff;
    width: 55px;
    height: 50px;
}
.input_with_icon {
    position: relative;
}
.input_with_icon{
    padding: 20PX 23px;
}
.input_with_icon .input-group-text{
    background-color: #be2d5d;
    border: none;
    border-radius: 0;
    color: #fff;
}
.input_with_icon .form-control{
    border: none;
    border-radius: 0;
}
select {
    font-size: 15px;
}
.rect-select{
    padding: 15px;
    margin-left: 18px;
    margin-bottom: 20px; 
}
.search-property{
    background-color: #be2d5d;
    border: none;
    border-radius: 4px;
    margin-left: 32px;
    padding: 12px;
    font-size: 16px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 700;
    margin-bottom: 20px;
}
.image-card{
    margin: 210px 0 25px 0;
}
.black-image{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.70);
    border-radius: 5px;
}
.overlay-img{
    position: relative;
}
.black-image p{
    position: relative;
    font-size: 20px;
    line-height: 63px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 400;
    text-align: center;
}
.small-image{
    padding: 0 45px;
}
/* How it works */
.how-work-section{
    background-color: #000;
}
.simple-text{
    font-size: 18px;
    color: #be2d5d;
    font-family: "Hind";
    font-weight: 600;
}
.how-work-text{
    font-size: 36px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 600;
}
.text-box{
    border: 2px solid #181818;
    display: inline-block;
    padding: 10px;
    margin: 50px 0;
}
.text-box p{
    margin: 0;
    padding: 0;
}
.image-heading{
    font-size: 22px;
    line-height: 63px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 600;
}
.image-below-text{
    font-size: 16px;
    line-height: 28px;
    color: #bcbcbc;
    font-family: "Hind";
    font-weight: 400;
    padding: 0 50px 25px 0;
}
.work-section p{
    margin: 0;
}
/* Property Section */
.property-section{
    background-image: url('../imges/prop-bg.png');
}
.property-slider .flex-container, .trending-slider .flex-container {
    display: flex;
    flex-direction: row;
  }

/* slider button */
.property-slider .slick-next{
    background: #be2d5d;
    right: 0%;
    position: absolute;
    top: 39%;
    border: none;
    padding: 5px 9px;
    color: #fff;
}
.property-slider .slick-prev{
    background: #be2d5d;
    top: 39%;
    position: absolute;
    border: none;
    padding: 5px 9px;
    color: #fff;
    z-index: 2;
}
.sale-text{
    font-size: 36px;
    color: #000000;
    font-family: "Hind";
    font-weight: 600;
}
.occupy-text{
    font-size: 18px;
    color: #be2d5d;
    font-family: "Hind";
    font-weight: 600;
}
.property-box{
    border : 2px solid #cccccc;
    margin : 50px 0;
    padding: 10px;
    display: inline-block;
}
.property-box p{
    margin: 0;
    padding: 0;
}
.slider-heading{
    font-size: 20px;
    /* line-height: 63px; */
    color: #be2d5d;
    font-family: "Hind";
    font-weight: 500;
}
.prop-card-text{
    font-size: 16px;
    color: #000000;
    font-family: "Hind";
    font-weight: 500;
}
.inside-card-text{
    font-size: 14px;
    color: #000000;
    font-family: "Hind";
    font-weight: 300;
}
.card-simple-text{
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    font-family: "Hind";
    font-weight: 300;
}
.card-below-text img {
    padding-right: 10px;
}
.image-button .btn {
    position: absolute;
    top: 8%;
    right: -6%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #0076a3;
    color: #000;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Hind";
    font-weight: 600;
}
.property-slider .card{
    margin-bottom: 50px;
}
.property-slider .slick-slide {
    padding: 15px!important;
}
/* Service Section */
.services-section{
    background-image: url('../imges/bg_merge.png');
    background-position-x: 50%;
    position: relative;
}
.service-heading{
    font-size: 18px;
    color: #be2d5d;
    font-family: "Hind";
    font-weight: 600;
    padding-top: 50px;
}
.our-service-text{
    font-size: 40px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 600;
    margin: -15px 0 30px 0;
}
.serv-img-heading{
    font-size: 24px;
    line-height: 63px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 600;
    margin: 15px 0 0 0;
}
.service-simple-text{
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 300;
    margin-bottom: 50px;
}


/* Trending Section  */
.trending-heading{
    font-size: 18px;
    color: #be2d5d;
    font-family: "Hind";
    font-weight: 600;
}
.trending-header{
    font-size: 40px;
    color: #000000;
    font-family: "Hind";
    font-weight: 600;
    margin-top: -15px;
}
.trend-image-button{
    position: relative;
}
.trend-image-button .btn{
    background-color: #00bff3;
    position: absolute;
    top: 5%;
    left: 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Hind";
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
}
.trend-slider-heading{
    font-size: 19px;
    color: #000000;
    font-family: "Hind";
    font-weight: 500;
}
.trend-simple-text{
    font-size: 14px;
    line-height: 25px;
    color: #000000;
    font-family: "Hind";
    font-weight: 300;
}

/* TREND SLIDER */
.trend-slide .slick-initialized .slick-slide {
    padding: 0!important;
}
.trending-slider .slick-next{
    background: #be2d5d;
    right:  9.88%;
    position: absolute;
    top: -15%;
    border: none;
    padding: 5px 20px;
    color: #fff;
}
.trending-slider .slick-prev{
    position: absolute;
    background: #000;
    color: #fff;
    border: none;
    right: 0;
    top: -15%;
    padding: 5px 20px;
    margin-right: 170px;
}
.trend-slide .card-body{
    border-right: 1px solid lightgray;
}

/* FOOTER SECTION */
.footer{
   background-image: url('../imges/footer-bgimg.png');
   background-position-y: 90%;
   position: relative;
   background-repeat: repeat;
   background-size: 100% 177%;
}
.footer:before{
    content: "";
    background-color: rgba(0,0,0,0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.footer-heading{
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Hind";
    font-weight: 700;
    margin-bottom: 20px;
}
.footer-text{
    font-size: 14px;
    line-height: 30px;
    color: #afb4bb;
    font-family: "Hind";
    font-weight: 400;
}
.above-text{
    padding-top: 33px;
}
.footer-text p{
   font-size: 14px;
   line-height: 30px;
   color: #afb4bb;
   font-weight: 400;
   margin: 0;
   padding: 0;
}
.copyright-text,.copyright-text p{
    color: #afb4bb;
    font-size: 14px;
    color: #afb4bb;
    font-family: "Hind";
    font-weight: 400;
}
.change-transform {
    text-transform: uppercase;
    line-height: 33px;
}
.footer hr {
    background-color: #afb4bb;
}
.copyright-margin{
    padding: 10px 0 0px 0;
}
.copy p{
    margin: 0;
}
.right{
    text-align: right;
}
.copy ul li{
    list-style: none;
    display: inline-block;
    text-align: right;
    color: #afb4bb;
    padding-left: 20px;
}
.copy ul{
    text-align: right;
}
.copy-right{
    color: #afb4bb;
}


.header-section .flex-container {
    display: flex;
    flex-direction: row;
}
.box-border{
    border: 1px solid white;
    display: inline-block;
    padding: 10px;
}